.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
}
.table_wrapper{
    overflow-y: auto;
    height: 0;
    flex-grow: 1;
    padding: 0 20px;
}
.table{
    margin: 0 auto;
    border-collapse: collapse;
}
.table td{
    padding: 3px;
    text-align: center;
    word-break: break-all;
}
.table td:nth-child(n+2){
    border-left:1px solid black ;
}
.thead th{
    padding: 5px;
    border: 1px solid black;
}
.table tbody tr{
    transition: .3s;
    user-select: none;
    cursor: pointer;
}
.table tbody tr:nth-child(even){
    background-color: rgb(233, 233, 233);
}
.table tbody tr:hover{
    background-color: chartreuse;
}