.info_wrapper{
    height: auto;
    position: relative;
    min-height: 30%;
    transition: 1s;
    text-align: center;
    background-color: silver;
}
.info_wrapper *{
    margin: 5px;
}
.hidden{    
    min-height: 0%;
}
.closeButton{
    transition: .3s;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(255, 0, 0, 0.7);
    position: absolute;
    top:0;
    right: 0;
}
.closeButton:hover{
    background-color: rgba(255, 0, 0, 1);  
}